.hola-main {
    overflow: hidden;
    position: relative;
}

.hola-main.hola-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.hola-wrapper {
    position: relative;
}

.hola-pane {
    overflow-y: scroll;
}

.hola-resize-bar {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    background: black;
    cursor: col-resize;
    z-index: 1000;
}